* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    width: 50%;
    margin: auto;
    text-align: center;
}

header nav a{
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: large;
}

header nav a:hover{
    color: rgba(255, 0, 0, 0.531);
    font-weight: bold;
    text-decoration: underline;
}

h1{
    text-align: center;
    margin: 1em;
}

form{
    width: 100%;
    text-align: center;
    
}
form .formulaire{
    display: flex;
    flex-direction: column;
}

label, .submit{
    margin: 1em;
}

table{
    width: 50%;
    max-width: 600px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 1em;
}

table td, table th{
    text-align: center;
    padding: 0.3em;
    border: solid 1px black;
}

table .total{
    font-weight: bold;
    text-align: right;
}

.qtt{
    display: block;
    text-align: center;
    margin: 1em;
}