* {
    margin: 0;
    padding: 0;
    font-family: "Funnel Sans", sans-serif;
}

body{
    background-color: #AEC9E5;
    color: #134173;
    
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    min-height: 100vh;
    background-color: white;
}

header{
    text-align: center;
}

nav{
    margin: 1em;
}

header nav a{
    text-decoration: none;
    padding: 1em;
    font-size: large;
    
    color: #134173;
}

header nav a:hover{
    font-weight: bold;
    text-decoration: underline;
}

h1{
    text-align: center;
    margin: 1em;
}

form{
    width: 100%;
    text-align: center;
    
}
form .formulaire{
    display: flex;
    flex-direction: column;
}

.input-prix, .input-qtt{
    text-align: right;
    width: 50%;
    margin: auto;
    min-width: 150px;
}

.input-product{
    text-align: left;
    width: 50%;
    margin: auto;
    min-width: 150px;
}

label, .submit{
    margin: 1em;
}

label{
    display: flex;
    flex-direction: column;
}

.submit{
    color: #fff;
    background-color: #1c4472;
    padding: 0.5em;
    border-radius: 8px;
    cursor: pointer;
}

table{
    width: 50%;
    max-width: 600px;
    margin: auto;
    margin-top: 1em;
    
    border-collapse: collapse;
}

table td, table th{
    text-align: center;
    padding: 0.3em;
}

table td{
    height: 80px;
}

table .total{
    font-weight: bold;
    text-align: right;
}

.qtt, .ajout, .aucun, .delete{
    display: block;
    text-align: center;
    margin: 1em;
}

table .actions{
    display:flex;
    position: relative;
    align-items: center;
    vertical-align: center;
}

.minus, .plus{
    background-color: #fff;
    color: #1c4472;
    border-radius: 8px;
    cursor: pointer;
    margin : 0 0.5em;
    padding: 0.5em;
}

table thead th, table tr:last-child td{
    border-bottom: 2px solid #1c4472;
}

table tbody td{
    border-bottom: 1px solid #1c4472;
}

table tbody tr:hover{
    background-color: #AEC9E5;
}


.form-ajout{
    width: 50%;
    color: #1c4472;
    background-color: #AEC9E5;
    margin: auto;
    border-radius: 15px;
}